---
import GitHub from "./Icons/GitHub.astro"
import TableauIcon from "../components/Icons/Tableau.astro";
import PythonIcon from "../components/Icons/Python.astro";
import Link from "./Icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
    TABLEAU: {
        name: "Tableau",
        class: "bg-black text-white",
        icon: TableauIcon,
    },
    PYTHON: {
        name: "Python",
        class: "bg-black text-white",
        icon: PythonIcon,
    }
}
const PROJECTS = [
    {
        title: "Incendios forestales en España entre 2001 y 2015",
        description: "Se analizan los incendios forestales en España entre los años 2001 y 2015.",
        link: "https://public.tableau.com/app/profile/sergi.cozar.badia/viz/IncendiosforestalesenEspaaentre2001y2015/Dashboard1",
        image: "/Projects/Incendios.webp",
        tags: [TAGS.TABLEAU]
    },
    {
        title: "Limpieza, análisis y visualización de datos",
        description: "Proyecto de limpieza, análisis y visualización de datos.",
        link: "https://github.com/SergiiCB/Limpieza-an-lisis-y-visualizaci-n-de-datos/blob/main/Proyecto_de_limpieza_analisis_y_visualizaci%C3%B3n_de_datos.ipynb",
        github: "https://github.com/SergiiCB?tab=repositories",
        image: "/Projects/LAVDatos.webp",
        tags: [TAGS.PYTHON]
    },
    {
        title: "Limpieza y Transformación de Datos Spotify 2024",
        description: "Proyecto de limpieza y transformación del dataset Spotify Top 50 Playlist Songs de Kaggle.",
        link: "https://github.com/SergiiCB/Proyecto-de-limpieza-y-transformacion-de-datos-Spotify-2024/blob/4327c0f14b65f86ebc1eed5ce830867dc6b514f5/Limpieza%20y%20Transformaci%C3%B3n%20de%20Datos%20Spotify%202024.ipynb",
        github: "https://github.com/SergiiCB?tab=repositories",
        image: "/Projects/SpotifyL.webp",
        tags: [TAGS.PYTHON]
    },
    {
        title: "Análisis y Visualización de Datos Spotify 2024",
        description: "Análisis y Visualización del Top canciones Spotify (01/01/2024 a 23/11/2024).",
        link: "https://public.tableau.com/app/profile/sergi.cozar.badia/viz/AnlisisyVisualizacindeDatosSpotify2024/Dashboard1",
        image: "/Projects/SpotifyV.webp",
        tags: [TAGS.TABLEAU]
    }
]
---

<div class="flex flex-col gap-y-16">
    {
      PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
      </div>
    </div>
  
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
        {title}
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
  
        <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
                
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
      </div>
    </div>
  </article>
      ))
    }
  </div>